/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

    .text.hotspot .con-button {
    font-size: 25px;
    padding: 15px 30px 18px;
    border-radius: 25px;
    }

    .text-block.join .foreground .cta-container > div {
        flex-direction: column;
    }

 @media (min-width: 77rem) {

    :root {
        --grid-container-width: 1500px; }

    .text-block.join .foreground .cta-container > div .con-button {
        font-size: 20px;
        padding: 10px 19px;
        border-radius: 25px;
    }

    .text-block.join .foreground .cta-container > div .con-button:hover {
        background-color: black;
        color: white;
        border-color: black;
    }

    main .section .marquee .foreground {
        gap: 60px;
    }
    
    main .section .marquee .foreground .asset {
        max-width: 100%;
    }

   .marquee.light.small .text h1 {
        font-size: var(--type-heading-xl-size);
        line-height: var(--type-heading-xl-lh);
    }

    .marquee.light.small .text h2 {
        font-size: var(--type-heading-s-size);
        line-height: var(--type-heading-s-lh);
    }
 }
