/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 :root {
    --grid-container-width: 1500px; }

    main .section .marquee .foreground h2 {
        text-align: center;
    }

    .text.hotspot .con-button {
    width: 6%;
    font-size: 25px;
    padding: 15px 30px 18px;
    border-radius: 25px;
    }

 @media (min-width: 77rem) {

    main .section .marquee .foreground {
        gap: 60px;
    }

    main .section .marquee .foreground h2 {
        text-align: left;
    }
    
    main .section .marquee .foreground .asset {
        max-width: 100%;
    }
 }