.crawler {
    text-align: center;
}

.crawler p.actual-url a {
    color: red;
}

.crawler form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.crawler form label {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--body-font-family);
}

.crawler form input[type=submit] {
    border-color: var(--text-color);
    color: var(--text-color);
    font-size: 17px;
    line-height: 20px;
    min-height: 21px;
    padding: 7px 18px 8px;
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid var(--text-color);
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.crawler form input[type=submit]:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.crawler form input[type=text] {
    border-color: var(--text-color);
    color: var(--text-color);
    border-radius: 20px;
    line-height: 20px;
    min-height: 21px;
    padding: 7px 18px 8px;
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    border: 2px solid var(--text-color);
    width: 25vw;
}

.crawler .error form label {
    color: red;
    text-shadow: 1px 1px black;
    font-size: var(--type-heading-xl-size);
}

.crawler .crawl-downloadCrawlReport {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.crawler .crawl-downloadCrawlReport label {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--body-font-family);
}

.crawler .crawl-downloadCrawlReport button {
    border-color: var(--text-color);
    color: var(--text-color);
    font-size: 18px;
    line-height: 20px;
    min-height: 21px;
    padding: 7px 18px 8px;
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid var(--text-color);
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.crawler .crawl-downloadCrawlReport button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.dotsectionclass {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dotsectionclass .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4b9cdb;
}

@keyframes jumping {
    0% {
      transform: translate3d(0, 0, 0);
    }
    
    50% {
      transform: translate3d(0, 15px, 0);
    }
    
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

.dotsectionclass .dot:nth-child(1) {
    animation: jumping 0.8s 0.1s ease-in infinite;
}

.dotsectionclass .dot:nth-child(2) {
    animation: jumping 0.8s 0.2s ease-in infinite;
}

.dotsectionclass .dot:nth-child(3) {
    animation: jumping 0.8s 0.3s ease-in infinite;
}



@media (width < 992px) {
    .crawler {
        display: flex;
        justify-content: center;
    }
    .crawler form {
        width: 30vw;
        flex-direction: column;
        justify-content: center;
    }

    .crawler .crawl-downloadCrawlReport {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}